*{
    margin: 0;
    padding: 0;
}
.contain{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.picture{
    width: 600px;
    height: 900px;
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    

}
.formContainer{
    width: 840px;
    height: 900px;
    background-color: rgb(245, 251, 255);
}
.insideContainer{
    width: 600px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.456);
    margin-top: 200px;  
    display: flex;
    justify-content: center;
}
.odinPicture{
    background-image: url('odinLogo.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;

}
.innerText{
  font-family: "Agu Display", serif;
align-self: center;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "MORF" 0;
  color: white;
  font-size: 100px;

}
p{

    margin-top: 150px;
    margin-left: 50px;
    font-size: 20px;
    font-weight: 900;
    font: bold;
    font-family: Arial, Helvetica, sans-serif;
    
}
.nextLine{
    margin-top: 30px;
}
.formBox{
    margin-top: 50px;
    width: 840px;
    height: 300px;
    background-color: white;
    box-shadow: 5px 5px 20px rgb(69, 68, 68);


}
.formSet{
    display: flex;
    gap: 60px;
    flex-direction: row;
    justify-content: left;
}
.formText{
    margin-top: 20px; 
    margin-left: 50px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;


    

}
label{
    display: block;
    font-size: 13px;
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    margin-top: 10px;
}
input{
    width: 250px;
    height: 30px;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.648);
    border-radius: 5px;
}
input:focus{
    box-shadow: 5px 5px 10px black;
    font-size: 15px;
}
input:valid{
    border-color: green;
}
.password:invalid{
    border-color: red;
}

fieldset{
    border-style: none;
    margin-top: 20px;
    margin-left: 50px;

}
.submitContainer{
    margin-top: 30px;
    margin-left: 50px;
}
button{
    padding: 10px 50px 10px 50px ;
    border-radius: 10px;
    border:none ;
    background-color: rgb(5, 165, 5) ;
    cursor: pointer;
    margin-bottom: 20px;
}
.submitLink{
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.logLink{
    color:rgb(5, 165, 5)  ;
    text-decoration: none;
}