body,
html {
  height: 100%;
  margin: 0;
}

.container {
  text-align: center;
  height: 100%;
  padding: 16px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(2,1fr) ;
    gap: max(1%, 10px);

}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
  border-radius: 15px;

}

.header {
  background-color: #00675d;
  grid-row-start: 1;
  grid-row-end: 2;
  grid-column-start:1 ;
  grid-column-end: 6;

}

.sidebar {
  background-color: #005B94;
  grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 5;
}

.nav {
  background-color: #642cde;
  grid-column: 2 /6;
}

.article {
  background-color: #7E1DC3;
    grid-column: 2 /6;
    grid-row: 3 /5;
}

.footer {
  background-color: #393f4d;
  grid-column: 1 /6;
}

.article p {
  font-size: min(100px, 20px);
  font-family: sans-serif;
  color: white;
  text-align: left;
}